BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "LED[0]" SITE "M7" ;
LOCATE COMP "LED[1]" SITE "N8" ;
LOCATE COMP "LED[2]" SITE "B1" ;
LOCATE COMP "LED[3]" SITE "B2" ;
LOCATE COMP "LED[4]" SITE "C1" ;
LOCATE COMP "LED[5]" SITE "C3" ;
LOCATE COMP "LED[6]" SITE "C2" ;
LOCATE COMP "LED[7]" SITE "D1" ;
