BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "startPB" SITE "N3" ;
LOCATE COMP "data[0]" SITE "M7" ;
LOCATE COMP "data[1]" SITE "N8" ;
LOCATE COMP "data[2]" SITE "B1" ;
LOCATE COMP "data[3]" SITE "B2" ;
LOCATE COMP "data[4]" SITE "C1" ;
LOCATE COMP "data[5]" SITE "C3" ;
LOCATE COMP "data[6]" SITE "C2" ;
LOCATE COMP "data[7]" SITE "D1" ;
LOCATE COMP "func[0]" SITE "K1" ;
LOCATE COMP "func[1]" SITE "K2" ;
LOCATE COMP "oe" SITE "A13" ;
LOCATE COMP "ready" SITE "B13" ;
