BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "xtal2" SITE "22" ;
LOCATE COMP "xtal1" SITE "23" ;
IOBUF PORT "xtal1" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
LOCATE COMP "data[0]" SITE "119" ;
LOCATE COMP "data[2]" SITE "116" ;
LOCATE COMP "data[4]" SITE "114" ;
LOCATE COMP "data[6]" SITE "113" ;
LOCATE COMP "data[1]" SITE "80" ;
LOCATE COMP "data[3]" SITE "78" ;
LOCATE COMP "data[5]" SITE "79" ;
LOCATE COMP "data[7]" SITE "76" ;
LOCATE COMP "func[1]" SITE "77" ;
LOCATE COMP "func[0]" SITE "112" ;
LOCATE COMP "start" SITE "74" ;
LOCATE COMP "ready" SITE "111" ;
LOCATE COMP "oe" SITE "75" ;
